.mat-paginator {
    background-color: #222b45;
    color: #fff;
}

.mat-select-value {
    color: #fff;
}

.pointer {
    cursor: pointer;
}

::ng-deep .mat-paginator-page-size{
    display: none !important;
}

.custom-card-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

app-manga {
    width: 350px;
    max-width: 350px;
    height: 500px;
    max-height: 500px;
    padding: 15px;
    overflow: hidden;
}