<app-spinner [loading]="isLoaded"></app-spinner>
<nb-layout>
  <nb-layout-header [hidden]="hideHeader" fixed>
    <nb-actions class="left">
      <nb-action routerLink="" class="pointer">Home</nb-action>
      <nb-action *ngIf="loggedIn" class="profile pointer" [nbContextMenu]="items" nbContextMenuPlacement="bottom">Users</nb-action>
      <nb-action *ngIf="!loggedIn" routerLink="login" class="pointer">Log-in</nb-action>
      <nb-action>Settings</nb-action>
    </nb-actions>
  </nb-layout-header>

  <nb-layout-column>

    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer fixed>
  </nb-layout-footer>

</nb-layout>
